doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/skrollr-play/thumbnail.jpg"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title 新竹螢火蟲季
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="skrollr.min.js")
  body
    .bk1.skrollable.skrollable-between(data-0="top:0px;",data-300="top:0px;",data-1000="top:-1000px;")
    .headline.skrollable.skrollable-between(data-500="opacity:1;",data-1000="opacity:0;")
      h1 新竹螢火蟲季
      p 由於平常白天都在工作，去年在思考是否還有什麼方式可以多拍一些照片磨練技術，碰巧遇到螢火蟲季，也因此開始了我的螢火蟲巡禮計畫。到現在為止也一年了，筆記本上面紀錄的地方也劃去了六七成，一共跑了十個地方，包括內灣東窩溪、二寮神木、五指山區、北埔近郊、芎林燒炭窩、芎林鹿寮坑、北埔冷泉、十二寮螢光巷、上坪溪畔、六寮古道等地，每個都有自己的特色，大多很值得順帶搭配相關行程一遊。
    .albums
      img(src="a1.jpg")
      img(src="a2.jpg")
      img(src="a3.jpg")
      img(src="a4.jpg")
    .bk2.skrollable.skrollable-between(data-0="top:1000px;opacity:0",data-300="top:1000px;opacity:0.5",data-1000="top:0px;opacity:1",data-2300="top:0px",data-3000="top:0px",data-3500="top:-1000px")
    .text2.skrollable.skrollable-between(data-0="opacity:0",data-500="opacity:0",data-1500="opacity:1",data-3000="opacity:1",data-3300="opacity:0")
      h1 哪裡有螢火蟲？
      p 新竹境內有許多地方有螢火蟲，其中像是五峰、尖石、竹東、北埔、峨眉等等的地方都有螢火蟲的蹤跡。內灣這些年在螢火蟲的季節一直都有遊客湧入，即便交通管制也仍有當地的居民騎車來來去去，仍能在該地看到許多螢火蟲；而像東勢林場、若蘭山莊及鯉魚潭每年都有許多的遊客造訪，螢火蟲仍是生生不息；我覺得遊客對生態的影響，端看當局如何規劃而定，像以東勢林場來說，整理草坡對螢火蟲的影響說不定比遊客數量帶來的影響還大。界定遊客活動的範圍、協調當地居民的權益損失、交通的配套措施及規則宣導，對不守規矩的人當場規勸或處以罰款等，才能真正維護目前螢火蟲生存的環境。
    svg#county.skrollable.skrollable-between(data-300="top:1000px;",data-800="top:0px",data-3000="opacity:1",data-3300="opacity:0",width="100%",height="100%",viewbox="100 100 500 500",preserveAspectRatio="xMinYMin")
      path.skrollable.skrollable-between(data-700="stroke-dashoffset:300;fill:rgba(255,255,255,0);stroke-width:0",data-1700="stroke-dashoffset:0;fill:rgba(255,255,255,0.5);stroke-width:3",style="stroke-dasharray:300;stroke-dashoffset:300;fill: rgba(255,255,255,0.5); stroke:#bdee01;stroke-width:0px;",d="M480.88912345929566,103.46134444755307L487.9541271823764,102.49808786980384L490.9593899601059,108.34567486169908L503.9294714218813,112.54106324427357L504.3512626889278,118.38554512610108L511.6271620455336,123.74713049548654L517.1104485171782,124.91547995265182L525.2826543162628,132.06146434622133L524.6499674156876,141.12750076513112L531.9258667722934,145.041046054851L533.6657557488725,155.54185769394098L538.7272509534669,156.57103839566753L538.4636314115596,165.96832820623285L530.9241125130466,173.03041051486343L526.7589237509346,179.54167966959176L518.8503374937573,181.46036988574406L519.2194048524289,177.41719220126652L513.1561553885876,170.9052028560218L512.9979836634448,168.50549195959275L505.5639125816924,170.15104034467913L502.9277171626345,168.84832618080736L492.75200284506354,170.42528468730688L493.7010331959282,165.96832820623285L491.32845731877023,162.0590671815371L494.01737664621396,157.18852022896226L477.93658458995196,142.43210516134286L479.2546822994809,138.38067307153415L473.7713958278364,138.17464501878703L475.40583698765477,133.29799650028463L481.6272581766352,128.00782250034717L486.4778577477009,131.23706488267135L485.58155130522573,124.22822428085465L473.6132241026935,116.66676716706024L478.35837585699846,106.21323526444758Z",transform="translate(-500 -30) scale(2.5)")
      circle.skrollable.skrollable-between(data-800="opacity:0",data-1600="opacity:1",cx="800",cy="400",r="5",fill="#adde81")
      circle.skrollable.skrollable-between(data-400="opacity:0",data-1300="opacity:1",cx="750",cy="300",r="6",fill="#bdee01")
      circle.skrollable.skrollable-between(data-600="opacity:0",data-1400="opacity:1",cx="740",cy="330",r="8",fill="#8dff01")
      path.skrollable.skrollable-between(data-800="stroke-dashoffset:50",data-1500="stroke-dashoffset:0",style="stroke-dasharray:50;stroke-dashoffset:50",d="M850 415L825 400L805 400",stroke="#fff",stroke-width="2",fill="none")
      path.skrollable.skrollable-between(data-800="stroke-dashoffset:100",data-1600="stroke-dashoffset:0",style="stroke-dasharray:100;stroke-dashoffset:100",d="M830 265L775 300L755 300",stroke="#fff",stroke-width="2",fill="none")
      path.skrollable.skrollable-between(data-800="stroke-dashoffset:100",data-1400="stroke-dashoffset:0",style="stroke-dasharray:100;stroke-dashoffset:100",d="M660 360L700 330L732 330",stroke="#fff",stroke-width="2",fill="none")
      text.skrollable.skrollable-between(data-800="opacity:0",data-1500="opacity:1",style="opacity:0",x="850",y="420",fill="#fff") 北埔冷泉
      text.skrollable.skrollable-between(data-800="opacity:0",data-1500="opacity:1",style="opacity:0",x="800",y="260",fill="#fff") 芎林燒炭窩
      text.skrollable.skrollable-between(data-800="opacity:0",data-1500="opacity:1",style="opacity:0",x="640",y="370",fill="#fff") 峨眉螢光巷
    .bk3(data-0="top:1000px;",data-3000="top:1000px;",data-3500="top:0px;",data-5000="top:0px",data-5500="top:0px",data-6500="top:-1000px")
      .bk3-1
      .bk3-2
      .bk3-3
      .bk3-4
      .bk3-5
    .text3.skrollable.skrollable-between(data-0="opacity:0",data-3100="opacity:0",data-4000="opacity:1",data-5500="top:100px",data-6600="top:-1000px")
      h1 拍攝螢火蟲的要點
      p
        | 優秀的攝影作品會引發病毒式行銷，行銷造成人潮，人潮對適當規畫的景點影響並不明顯，然而對於一些私人景點，行銷造成的可能不光是生態，也會是當地居民的負擔，因為他們需要的並不是人潮，而是安寧。在這樣的情況下，也許可以考慮在分享攝影成果之時，不要強調拍攝的地點；若沒有確切的目標點，一般的遊客很容易就會放棄改到知名的景點了，而真正會花時間搜集資料到處尋找螢蹤的人，相信對於如何尊重自然環境也會有一定的認知。
    .note3.skrollable.skrollable-between(data-0="top:-1000px",data-3100="top:-400px",data-4300="top:100px",data-5500="top:100px",data-6600="top:-1000px")
      ul
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4200="opacity:1") 腳架是一定要有的，可以考慮選購球型阻尼式雲台
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4300="opacity:1") 使用大光圈鏡頭為佳，建議使用 f/2 以上
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4400="opacity:1") 記得把閃燈關掉。
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4500="opacity:1") 最好使用具有 B 快門的相機。
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4600="opacity:1") 多帶一顆相機電池及記憶卡。
        li.skrollable.skrollable-between(data-3900="opacity:0",data-4700="opacity:1") 同一個構圖的兩次快門可能有很戲劇化的變化。

    .share.skrollable.skrollable-between(data-6000="opacity:0",data-6500="opacity:1")
      h1 新竹螢火蟲季
      .fb-like(data-href="http://zbryikt.github.io/skrollr-play",data-layout="standard",data-action="like",data-show-faces="true",data-share="true",data-colorscheme="dark")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    div.end &nbsp;
    script(type="text/javascript").
      skrollr.init({forceHeight: false})
